{
    "openapi": "3.0.1",
    "info": {
    "title": "Cleartrip B2B V4 APIs",
    "version": "0.0.1"
    },
    "servers": [
    {
    "url": "https://api.cleartrip.com"
    },
    {
    "url": "https://b2b.cleartrip.com"
    }
    ],
    "tags": [
    {
    "name": "Content V4 APIs"
    },
    {
    "name": "Search V4 APIs"
    },
    {
    "name": "Details V4 API"
    },
    {
    "name": "Provisional Book V4 API"
    },
    {
    "name": "Book V4 API"
    },
    {
    "name": "Trip V4 API"
    },
    {
    "name": "Cancel and RefundInfo APIs"
    }
    ],
    "paths": {
    "/hotels/api/v4/search": {
    "post": {
    "tags": [
    "Search V4 APIs"
    ],
    "summary": "Search By HotelIds",
    "description": "Retrieves rate plan details for a list of hotels to populate the hotel search page.",
    "operationId": "getSearchResults",
    "parameters": [
    {
    "name": "x-ct-api-key",
    "in": "header",
    "description": "API key for authentication",
    "required": true
    },
    {
    "name": "x-ct-request-id",
    "in": "header",
    "description": "Unique request ID for tracking",
    "required": true
    },
    {
    "name": "x-lineage-id ",
    "in": "header",
    "description": "Unique lineage ID for tracking",
    "required": true
    }
    ],
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "$ref": "#/components/schemas/SearchRequest"
    }
    }
    },
    "required": true
    },
    "responses": {
    "200": {
    "description": "OK",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/SearchResponse"
    }
    }
    }
    },
    "400": {
    "description": "Bad Request",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    },
    "500": {
    "description": "Internal Server Error",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    }
    }
    }
    },
    "/hotels/api/v4/search-by-location": {
    "post": {
    "tags": [
    "Search V4 APIs"
    ],
    "summary": "Search By Location",
    "description": "Fetches rate plan details for hotels based on location and search criteria to populate the hotel search page.",
    "operationId": "getSearchByLocationResults",
    "parameters": [
    {
    "name": "x-ct-api-key",
    "in": "header",
    "description": "API key for authentication",
    "required": true
    },
    {
    "name": "x-ct-request-id",
    "in": "header",
    "description": "Unique request ID for tracking",
    "required": true
    },
    {
    "name": "x-lineage-id ",
    "in": "header",
    "description": "Unique lineage ID for tracking",
    "required": true
    }
    ],
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "$ref": "#/components/schemas/SearchByLocationRequest"
    }
    }
    },
    "required": true
    },
    "responses": {
    "200": {
    "description": "OK",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/SearchResponse"
    }
    }
    }
    },
    "400": {
    "description": "Bad Request",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    },
    "500": {
    "description": "Internal Server Error",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    }
    }
    }
    },
    "/hotels/api/v4/provisional-book": {
    "post": {
    "tags": [
    "Provisional Book V4 API"
    ],
    "summary": "Provisional Hotel Booking",
    "description": "Allows clients to hold a hotel booking for **15 minutes** before making a final booking. If the final booking is made after this period, it will fail.",
    "operationId": "doProvisionalBook",
    "parameters": [
    {
    "name": "x-ct-api-key",
    "in": "header",
    "description": "API key for authentication",
    "required": true
    },
    {
    "name": "x-ct-request-id",
    "in": "header",
    "description": "Unique request ID for tracking",
    "required": true
    },
    {
    "name": "x-lineage-id ",
    "in": "header",
    "description": "Unique lineage ID for tracking",
    "required": true
    }
    ],
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "$ref": "#/components/schemas/ProvisionalBookRequestV4"
    }
    }
    },
    "required": true
    },
    "responses": {
    "200": {
    "description": "OK",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/ProvisionalBookResponseV4"
    }
    }
    }
    },
    "400": {
    "description": "Bad Request",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    },
    "500": {
    "description": "Internal Server Error",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    }
    }
    }
    },
    "/hotels/api/v4/detail": {
    "post": {
    "tags": [
    "Details V4 API"
    ],
    "summary": "Get Hotel Rate Plan Details",
    "description": "Fetches detailed rate plan information for a specific hotel.",
    "operationId": "getDetailResults",
    "parameters": [
    {
    "name": "x-ct-api-key",
    "in": "header",
    "description": "API key for authentication",
    "required": true
    },
    {
    "name": "x-ct-request-id",
    "in": "header",
    "description": "Unique request ID for tracking",
    "required": true
    },
    {
    "name": "x-lineage-id ",
    "in": "header",
    "description": "Unique lineage ID for tracking",
    "required": true
    }
    ],
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "$ref": "#/components/schemas/DetailRequest"
    }
    }
    },
    "required": true
    },
    "responses": {
    "200": {
    "description": "OK",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/DetailResponse"
    }
    }
    }
    },
    "400": {
    "description": "Bad Request",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    },
    "500": {
    "description": "Internal Server Error",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    }
    }
    }
    },
    "/hotels/api/v4/content/hotel-profiles": {
    "post": {
    "tags": [
    "Content V4 APIs"
    ],
    "summary": "Get Hotel Profiles",
    "description": "Retrieves detailed **profile information** for a list of hotels using the provided **hotel IDs**.\n\n### Includes:\n- Policies\n- Amenities\n- Other relevant hotel & room details\n",
    "operationId": "getHotelProfiles",
    "parameters": [
    {
    "name": "x-ct-api-key",
    "in": "header",
    "description": "API key for authentication",
    "required": true
    },
    {
    "name": "x-ct-request-id",
    "in": "header",
    "description": "Unique request ID for tracking",
    "required": true
    }
    ],
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "$ref": "#/components/schemas/HotelProfileBatchV4Request"
    }
    }
    },
    "required": true
    },
    "responses": {
    "200": {
    "description": "OK",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/HotelProfileBatchV4Response"
    }
    }
    }
    },
    "400": {
    "description": "Bad Request",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    },
    "500": {
    "description": "Internal Server Error",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    }
    }
    }
    },
    "/hotels/api/v4/cancel/{tripId}": {
    "post": {
    "tags": [
    "Cancel and RefundInfo APIs"
    ],
    "summary": "Cancel Trip",
    "description": "Cancels a trip using the provided **trip ID**.",
    "operationId": "cancel",
    "parameters": [
    {
    "name": "tripId",
    "in": "path",
    "required": true,
    "schema": {
    "type": "string"
    }
    },
    {
    "name": "x-ct-api-key",
    "in": "header",
    "description": "API key for authentication",
    "required": true
    },
    {
    "name": "x-ct-request-id",
    "in": "header",
    "description": "Unique request ID for tracking",
    "required": true
    }
    ],
    "responses": {
    "200": {
    "description": "Booking cancelled successfully",
    "content": {
    "application/json": {
    "schema": {
    "$ref": "#/components/schemas/CancelV4Response"
    }
    }
    }
    },
    "400": {
    "description": "Bad Request",
    "content": {
    "application/json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    },
    "500": {
    "description": "Internal Server Error",
    "content": {
    "application/json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    }
    }
    }
    },
    "/hotels/api/v4/book": {
    "post": {
    "tags": [
    "Book V4 API"
    ],
    "summary": "Create Hotel Booking",
    "description": "**Purpose**: Finalize a hotel booking using the provisional booking ID received from a successful provisional booking.\n\n- Provisional booking is valid for **15 minutes**.\n- If used after expiry, the API returns an **invalid provisional booking ID** error.\n\nOnly call this after successful provisional hold.\n",
    "operationId": "book",
    "parameters": [
    {
    "name": "x-ct-api-key",
    "in": "header",
    "description": "API key for authentication",
    "required": true
    },
    {
    "name": "x-ct-request-id",
    "in": "header",
    "description": "Unique request ID for tracking",
    "required": true
    },
    {
    "name": "x-lineage-id ",
    "in": "header",
    "description": "Unique lineage ID for tracking",
    "required": true
    }
    ],
    "requestBody": {
    "content": {
    "application/json": {
    "schema": {
    "$ref": "#/components/schemas/BookRequestV4"
    }
    }
    },
    "required": true
    },
    "responses": {
    "200": {
    "description": "Booking created successfully",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/BookResponseV4"
    }
    }
    }
    },
    "400": {
    "description": "Bad Request",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    },
    "500": {
    "description": "Internal Server Error",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    }
    }
    }
    },
    "/hotels/api/v4/trip": {
    "get": {
    "tags": [
    "Trip V4 API"
    ],
    "operationId": "getTrip",
    "parameters": [
    {
    "name": "tripId",
    "in": "query",
    "required": false,
    "schema": {
    "type": "string"
    }
    },
    {
    "name": "affiliateTripReference",
    "in": "query",
    "required": false,
    "schema": {
    "type": "string"
    }
    },
    {
    "name": "x-ct-api-key",
    "in": "header",
    "required": true,
    "schema": {
    "type": "string"
    }
    },
    {
    "name": "x-request-id",
    "in": "header",
    "required": true,
    "schema": {
    "type": "string"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "OK",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/TripV4Response"
    }
    }
    }
    },
    "400": {
    "description": "Bad Request",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    },
    "500": {
    "description": "Internal Server Error",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    }
    }
    }
    },
    "/hotels/api/v4/refund-info/{tripId}": {
    "get": {
    "tags": [
    "Cancel and RefundInfo APIs"
    ],
    "summary": "RefundInfo",
    "description": "Get refundAmount a trip using the provided **trip ID**.",
    "operationId": "refundInfo",
    "parameters": [
    {
    "name": "tripId",
    "in": "path",
    "required": true,
    "schema": {
    "type": "string"
    }
    },
    {
    "name": "x-ct-api-key",
    "in": "header",
    "description": "API key for authentication",
    "required": true
    },
    {
    "name": "x-ct-request-id",
    "in": "header",
    "description": "Unique request ID for tracking",
    "required": true
    }
    ],
    "responses": {
    "200": {
    "description": "RefundInfo calculated successfully",
    "content": {
    "application/json": {
    "schema": {
    "$ref": "#/components/schemas/RefundInfoV4Response"
    }
    }
    }
    },
    "400": {
    "description": "Bad Request",
    "content": {
    "application/json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    },
    "500": {
    "description": "Internal Server Error",
    "content": {
    "application/json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    }
    }
    }
    },
    "/hotels/api/v4/itinerary/{itineraryId}": {
    "get": {
    "tags": [
    "view-itinerary-controller"
    ],
    "operationId": "getItinerary",
    "parameters": [
    {
    "name": "itineraryId",
    "in": "path",
    "required": true,
    "schema": {
    "type": "string"
    }
    }
    ],
    "responses": {
    "200": {
    "description": "OK",
    "content": {
    "application/json": {
    "schema": {
    "$ref": "#/components/schemas/ItineraryResponseV4"
    }
    }
    }
    }
    }
    }
    },
    "/hotels/api/v4/content/locations": {
    "get": {
    "tags": [
    "Content V4 APIs"
    ],
    "summary": "Get Location List",
    "description": "This Content API provides detailed **location hierarchy** and **metadata** for a given `locationType`.\n\nSupports **pagination** to efficiently fetch location details and their hierarchical relationships.\n",
    "operationId": "getLocations",
    "parameters": [
    {
    "name": "locationType",
    "in": "query",
    "description": "Location type",
    "required": false,
    "schema": {
    "type": "string",
    "default": "CITY",
    "enum": [
    "CITY",
    "STATE",
    "LOCALITY"
    ]
    }
    },
    {
    "name": "nextPageToken",
    "in": "query",
    "required": false,
    "schema": {
    "type": "string",
    "default": "0"
    }
    },
    {
    "name": "pageSize",
    "in": "query",
    "required": false,
    "schema": {
    "type": "integer",
    "format": "int32",
    "default": 100
    }
    },
    {
    "name": "x-ct-api-key",
    "in": "header",
    "description": "API key for authentication",
    "required": true
    },
    {
    "name": "x-ct-request-id",
    "in": "header",
    "description": "Unique request ID for tracking",
    "required": true
    }
    ],
    "responses": {
    "200": {
    "description": "OK",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/LocationsV4Response"
    }
    }
    }
    },
    "400": {
    "description": "Bad Request",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    },
    "500": {
    "description": "Internal Server Error",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    }
    }
    }
    },
    "/hotels/api/v4/content/location/hotels": {
    "get": {
    "tags": [
    "Content V4 APIs"
    ],
    "summary": "Get Hotel List",
    "description": "This API retrieves a list of **hotel IDs** for a specified location, based on the provided **location ID** and **location type**.\n\n### Features:\n- Supports **pagination** for efficient data retrieval\n",
    "operationId": "getLocationBasedHotelList",
    "parameters": [
    {
    "name": "locationType",
    "in": "query",
    "description": "Location type",
    "required": false,
    "schema": {
    "type": "string",
    "default": "CITY",
    "enum": [
    "CITY",
    "STATE",
    "LOCALITY"
    ]
    }
    },
    {
    "name": "x-meta-data",
    "in": "header"
    },
    {
    "name": "locationId",
    "in": "query",
    "required": true,
    "schema": {
    "type": "integer",
    "format": "int64"
    }
    },
    {
    "name": "pageSize",
    "in": "query",
    "required": false,
    "schema": {
    "type": "integer",
    "format": "int32",
    "default": 2000
    }
    },
    {
    "name": "nextPageToken",
    "in": "query",
    "required": false,
    "schema": {
    "type": "string"
    }
    },
    {
    "name": "x-ct-api-key",
    "in": "header",
    "description": "API key for authentication",
    "required": true
    },
    {
    "name": "x-ct-request-id",
    "in": "header",
    "description": "Unique request ID for tracking",
    "required": true
    }
    ],
    "responses": {
    "200": {
    "description": "OK",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/HotelListV4Response"
    }
    }
    }
    },
    "400": {
    "description": "Bad Request",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    },
    "500": {
    "description": "Internal Server Error",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    }
    }
    }
    },
    "/hotels/api/v4/content/incremental-updates": {
    "get": {
    "tags": [
    "Content V4 APIs"
    ],
    "summary": "Get Incremental Update Hotel List",
    "description": "Provides an **incremental update** mechanism to retrieve hotel IDs updated after a specified `lastUpdatedAt` timestamp.\n\n### Features:\n- **Pagination support** using `nextPageToken`\n- Allows partners to retrieve hotel IDs in **chunks**\n- Useful for syncing only recently updated hotel data\n",
    "operationId": "getIncrementalUpdateHotelList",
    "parameters": [
    {
    "name": "lastUpdatedAt",
    "in": "query",
    "required": false,
    "schema": {
    "type": "integer",
    "format": "int64",
    "default": 0
    }
    },
    {
    "name": "nextPageToken",
    "in": "query",
    "required": false,
    "schema": {
    "type": "string"
    }
    },
    {
    "name": "pageSize",
    "in": "query",
    "required": false,
    "schema": {
    "type": "integer",
    "format": "int32",
    "default": 2000
    }
    },
    {
    "name": "x-ct-api-key",
    "in": "header",
    "description": "API key for authentication",
    "required": true
    },
    {
    "name": "x-ct-request-id",
    "in": "header",
    "description": "Unique request ID for tracking",
    "required": true
    }
    ],
    "responses": {
    "200": {
    "description": "OK",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/IncrementalUpdateHotelListV4Response"
    }
    }
    }
    },
    "400": {
    "description": "Bad Request",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    },
    "500": {
    "description": "Internal Server Error",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    }
    }
    }
    },
    "/hotels/api/v4/content/hotel-profile/{hotelId}": {
    "get": {
    "tags": [
    "Content V4 APIs"
    ],
    "summary": "Get Hotel Profile",
    "description": "Retrieves detailed **profile information** for a specific hotel using the provided **hotel ID**.\n\n### Includes:\n- Policies\n- Amenities\n- Other relevant hotel & room details\n",
    "operationId": "getHotelProfile",
    "parameters": [
    {
    "name": "hotelId",
    "in": "path",
    "required": true,
    "schema": {
    "type": "string"
    }
    },
    {
    "name": "x-meta-data",
    "in": "header"
    },
    {
    "name": "x-ct-api-key",
    "in": "header",
    "description": "API key for authentication",
    "required": true
    },
    {
    "name": "x-ct-request-id",
    "in": "header",
    "description": "Unique request ID for tracking",
    "required": true
    }
    ],
    "responses": {
    "200": {
    "description": "OK",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/HotelProfileV4Response"
    }
    }
    }
    },
    "400": {
    "description": "Bad Request",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    },
    "500": {
    "description": "Internal Server Error",
    "content": {
    "application/hal+json": {
    "schema": {
    "$ref": "#/components/schemas/AnveshakErrorResponse"
    }
    }
    }
    }
    }
    }
    }
    },
    "components": {
    "schemas": {
    "BaseCustomerInfo": {
    "type": "object",
    "properties": {
    "ip": {
    "type": "string"
    },
    "userAgent": {
    "type": "string"
    }
    }
    },
    "CorpInfo": {
    "type": "object",
    "properties": {
    "corpId": {
    "type": "string"
    }
    }
    },
    "RoomPax": {
    "type": "object",
    "properties": {
    "childAges": {
    "type": "array",
    "items": {
    "type": "integer",
    "format": "int32"
    }
    },
    "adults": {
    "type": "integer",
    "format": "int32"
    }
    }
    },
    "SearchRequest": {
    "required": [
    "checkInDate",
    "checkOutDate",
    "hotelIds",
    "rooms"
    ],
    "type": "object",
    "properties": {
    "hotelIds": {
    "type": "array",
    "items": {
    "type": "string"
    }
    },
    "checkInDate": {
    "type": "string"
    },
    "checkOutDate": {
    "type": "string"
    },
    "ratePlanFilter": {
    "type": "string",
    "enum": [
    "CHEAPEST",
    "ALL"
    ]
    },
    "customerInfo": {
    "$ref": "#/components/schemas/BaseCustomerInfo"
    },
    "corpInfo": {
    "$ref": "#/components/schemas/CorpInfo"
    },
    "rooms": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/RoomPax"
    }
    },
    "rateType": {
    "type": "array",
    "items": {
    "type": "string",
    "enum": [
    "SPECIFIC_CORPORATE",
    "GENERIC_CORPORATE",
    "THIRD_PARTY",
    "UNRECOGNIZED"
    ]
    }
    }
    }
    },
    "AnveshakError": {
    "type": "object",
    "properties": {
    "code": {
    "type": "string"
    },
    "message": {
    "type": "string"
    }
    }
    },
    "AnveshakErrorResponse": {
    "type": "object",
    "properties": {
    "error": {
    "$ref": "#/components/schemas/AnveshakError"
    }
    }
    },
    "AriSuccessResponse": {
    "type": "object",
    "properties": {
    "searchId": {
    "type": "string"
    },
    "hotels": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/HotelAri"
    }
    }
    }
    },
    "CancellationPolicy": {
    "type": "object",
    "properties": {
    "text": {
    "type": "string"
    },
    "cancellationPolicySlabs": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/CancellationPolicySlab"
    }
    }
    }
    },
    "CancellationPolicySlab": {
    "type": "object",
    "properties": {
    "startTime": {
    "type": "integer",
    "format": "int64"
    },
    "endTime": {
    "type": "integer",
    "format": "int64"
    },
    "penaltyAmount": {
    "type": "number",
    "format": "double"
    }
    }
    },
    "HotelAri": {
    "type": "object",
    "properties": {
    "hotelId": {
    "type": "string"
    },
    "rooms": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/Room"
    }
    },
    "isDnd": {
    "type": "boolean"
    }
    }
    },
    "Room": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64"
    },
    "name": {
    "type": "string"
    },
    "description": {
    "type": "string"
    },
    "views": {
    "type": "array",
    "items": {
    "type": "string"
    }
    },
    "amenities": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/Amenity"
    }
    },
    "area": {
    "$ref": "#/components/schemas/Area"
    },
    "media": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/HotelMedia"
    }
    },
    "bedGroups": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/BedGroup"
    }
    },
    "maxOccupancy": {
    "$ref": "#/components/schemas/MaxOccupancy"
    }
    }
    },
    "SearchResponse": {
    "type": "object",
    "properties": {
    "success": {
    "$ref": "#/components/schemas/AriSuccessResponse"
    }
    }
    },
    "Location": {
    "type": "object",
    "properties": {
    "type": {
    "type": "string",
    "enum": [
    "CITY"
    ]
    },
    "id": {
    "type": "integer",
    "format": "int64"
    }
    }
    },
    "SearchByLocationRequest": {
    "required": [
    "checkInDate",
    "checkOutDate",
    "location",
    "rooms"
    ],
    "type": "object",
    "properties": {
    "location": {
    "$ref": "#/components/schemas/Location"
    },
    "checkInDate": {
    "type": "string"
    },
    "checkOutDate": {
    "type": "string"
    },
    "ratePlanFilter": {
    "type": "string",
    "enum": [
    "CHEAPEST",
    "ALL"
    ]
    },
    "customerInfo": {
    "$ref": "#/components/schemas/BaseCustomerInfo"
    },
    "corpInfo": {
    "$ref": "#/components/schemas/CorpInfo"
    },
    "rooms": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/RoomPax"
    }
    },
    "rateType": {
    "type": "array",
    "items": {
    "type": "string",
    "enum": [
    "SPECIFIC_CORPORATE",
    "GENERIC_CORPORATE",
    "THIRD_PARTY",
    "UNRECOGNIZED"
    ]
    }
    }
    }
    },
    "AdditionalInfo": {
    "type": "object",
    "properties": {
    "specialRequest": {
    "type": "string"
    }
    }
    },
    "BookingInfo": {
    "type": "object",
    "properties": {
    "bookingStatus": {
    "type": "string"
    },
    "voucherNumber": {
    "type": "string"
    }
    }
    },
    "ContactInfo": {
    "type": "object",
    "properties": {
    "phone": {
    "type": "string"
    },
    "email": {
    "type": "string"
    }
    }
    },
    "CustomerInfo": {
    "required": [
    "ip",
    "travellers",
    "userAgent"
    ],
    "type": "object",
    "properties": {
    "ip": {
    "type": "string"
    },
    "userAgent": {
    "type": "string"
    },
    "contactInfo": {
    "$ref": "#/components/schemas/ContactInfo"
    },
    "travellers": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/Traveller"
    }
    }
    }
    },
    "GstDetails": {
    "type": "object",
    "properties": {
    "number": {
    "type": "string"
    },
    "companyName": {
    "type": "string"
    },
    "companyAddress": {
    "type": "string"
    }
    }
    },
    "PanCard": {
    "type": "object",
    "properties": {
    "panCardType": {
    "type": "string",
    "enum": [
    "PERSONAL",
    "CORP",
    "UNKNOWN"
    ]
    },
    "panCardNumber": {
    "type": "string"
    }
    }
    },
    "ProvisionalBookRequestV4": {
    "type": "object",
    "properties": {
    "searchId": {
    "type": "string"
    },
    "bookingInfo": {
    "$ref": "#/components/schemas/BookingInfo"
    },
    "searchCriteria": {
    "$ref": "#/components/schemas/SearchCriteria"
    },
    "customerInfo": {
    "$ref": "#/components/schemas/CustomerInfo"
    },
    "panCard": {
    "$ref": "#/components/schemas/PanCard"
    },
    "additionalInfo": {
    "$ref": "#/components/schemas/AdditionalInfo"
    },
    "taxEntityInformation": {
    "$ref": "#/components/schemas/TaxEntityInformation"
    },
    "corpInfo": {
    "$ref": "#/components/schemas/CorpInfo"
    },
    "modelType": {
    "type": "string"
    }
    }
    },
    "RoomsData": {
    "required": [
    "roomPaxList"
    ],
    "type": "object",
    "properties": {
    "numOfRoom": {
    "type": "integer",
    "format": "int32"
    },
    "roomPaxList": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/RoomPax"
    }
    }
    }
    },
    "SearchCriteria": {
    "required": [
    "checkInDate",
    "checkOutDate",
    "hotelId",
    "roomsData"
    ],
    "type": "object",
    "properties": {
    "hotelId": {
    "type": "string"
    },
    "checkInDate": {
    "type": "string"
    },
    "checkOutDate": {
    "type": "string"
    },
    "roomsData": {
    "$ref": "#/components/schemas/RoomsData"
    }
    }
    },
    "TaxEntityInformation": {
    "type": "object",
    "properties": {
    "gstDetails": {
    "$ref": "#/components/schemas/GstDetails"
    }
    }
    },
    "Traveller": {
    "required": [
    "firstName",
    "title"
    ],
    "type": "object",
    "properties": {
    "title": {
    "type": "string"
    },
    "firstName": {
    "type": "string"
    },
    "lastName": {
    "type": "string"
    }
    }
    },
    "ProvisionalBookResponseV4": {
    "required": [
    "provisionalBookId"
    ],
    "type": "object",
    "properties": {
    "provisionalBookId": {
    "type": "string"
    }
    }
    },
    "DetailRequest": {
    "required": [
    "checkInDate",
    "checkOutDate",
    "hotelId",
    "rooms"
    ],
    "type": "object",
    "properties": {
    "hotelId": {
    "type": "string"
    },
    "checkInDate": {
    "type": "string"
    },
    "checkOutDate": {
    "type": "string"
    },
    "ratePlanFilter": {
    "type": "string",
    "enum": [
    "CHEAPEST",
    "ALL"
    ]
    },
    "customerInfo": {
    "$ref": "#/components/schemas/BaseCustomerInfo"
    },
    "searchId": {
    "type": "string"
    },
    "extraFeatures": {
    "type": "string",
    "enum": [
    "HOTEL_CONTENT",
    "ROOMS_CONTENT",
    "UNRECOGNIZED"
    ]
    },
    "corpInfo": {
    "$ref": "#/components/schemas/CorpInfo"
    },
    "rooms": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/RoomPax"
    }
    },
    "rateType": {
    "type": "array",
    "items": {
    "type": "string",
    "enum": [
    "SPECIFIC_CORPORATE",
    "GENERIC_CORPORATE",
    "THIRD_PARTY",
    "UNRECOGNIZED"
    ]
    }
    }
    }
    },
    "DetailResponse": {
    "type": "object",
    "properties": {
    "searchId": {
    "type": "string"
    },
    "hotel": {
    "$ref": "#/components/schemas/HotelAri"
    }
    }
    },
    "HotelProfileBatchV4Request": {
    "type": "object",
    "properties": {
    "hotelIds": {
    "type": "array",
    "items": {
    "type": "string"
    }
    },
    "metaData": {
    "$ref": "#/components/schemas/MetaData"
    }
    }
    },
    "MetaData": {
    "type": "object",
    "properties": {
    "locationVersionToHotelIdsMap": {
    "type": "object",
    "additionalProperties": {
    "type": "array",
    "items": {
    "type": "string"
    }
    }
    }
    }
    },
    "Amenity": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string"
    },
    "category": {
    "type": "string"
    },
    "standardAmenityName": {
    "type": "string"
    }
    }
    },
    "Area": {
    "type": "object",
    "properties": {
    "value": {
    "type": "number",
    "format": "double"
    },
    "unit": {
    "type": "string"
    }
    }
    },
    "BedGroup": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64"
    },
    "description": {
    "type": "string"
    },
    "quantity": {
    "type": "integer",
    "format": "int32"
    },
    "type": {
    "type": "string"
    }
    }
    },
    "Chain": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string"
    }
    }
    },
    "City": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64"
    },
    "name": {
    "type": "string"
    }
    }
    },
    "Country": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64"
    },
    "name": {
    "type": "string"
    },
    "code": {
    "type": "string"
    }
    }
    },
    "Guidelines": {
    "type": "object",
    "properties": {
    "title": {
    "type": "string"
    },
    "description": {
    "type": "array",
    "items": {
    "type": "string"
    }
    }
    }
    },
    "HotelArea": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64"
    },
    "name": {
    "type": "string"
    }
    }
    },
    "HotelContact": {
    "type": "object",
    "properties": {
    "contactTitle": {
    "type": "string"
    },
    "contactEmail": {
    "type": "string"
    },
    "contactMobileNo": {
    "type": "array",
    "items": {
    "type": "string"
    }
    }
    }
    },
    "HotelContent": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string"
    },
    "description": {
    "type": "string"
    },
    "property": {
    "$ref": "#/components/schemas/Property"
    },
    "hotelLocation": {
    "$ref": "#/components/schemas/HotelLocation"
    },
    "media": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/HotelMedia"
    }
    },
    "amenities": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/Amenity"
    }
    },
    "policyInfo": {
    "$ref": "#/components/schemas/PolicyInfo"
    },
    "slugId": {
    "type": "string"
    },
    "otherInfo": {
    "$ref": "#/components/schemas/OtherHotelInfo"
    },
    "contacts": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/HotelContact"
    }
    },
    "chain": {
    "$ref": "#/components/schemas/Chain"
    },
    "ratings": {
    "$ref": "#/components/schemas/HotelRatings"
    }
    }
    },
    "HotelLocation": {
    "type": "object",
    "properties": {
    "coordinates": {
    "$ref": "#/components/schemas/LocationCoordinates"
    },
    "pincode": {
    "type": "string"
    },
    "country": {
    "$ref": "#/components/schemas/Country"
    },
    "city": {
    "$ref": "#/components/schemas/City"
    },
    "state": {
    "$ref": "#/components/schemas/State"
    },
    "area": {
    "$ref": "#/components/schemas/HotelArea"
    },
    "locality": {
    "$ref": "#/components/schemas/Locality"
    }
    }
    },
    "HotelMedia": {
    "type": "object",
    "properties": {
    "url": {
    "type": "string"
    },
    "type": {
    "type": "string"
    },
    "featured": {
    "type": "boolean"
    },
    "category": {
    "type": "string"
    },
    "subCategory": {
    "type": "string"
    },
    "caption": {
    "type": "string"
    },
    "thumbNailImagePath": {
    "type": "string"
    }
    }
    },
    "HotelProfileBatchV4Response": {
    "type": "object",
    "properties": {
    "hotels": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/HotelProfileV4Response"
    }
    }
    }
    },
    "HotelProfileV4Response": {
    "type": "object",
    "properties": {
    "hotelId": {
    "type": "string"
    },
    "hotelContent": {
    "$ref": "#/components/schemas/HotelContent"
    },
    "roomsContent": {
    "$ref": "#/components/schemas/RoomsContent"
    }
    }
    },
    "HotelRatings": {
    "type": "object",
    "properties": {
    "starRating": {
    "type": "integer",
    "format": "int32"
    }
    }
    },
    "Locality": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64"
    },
    "name": {
    "type": "string"
    }
    }
    },
    "LocationCoordinates": {
    "type": "object",
    "properties": {
    "latitude": {
    "type": "number",
    "format": "double"
    },
    "longitude": {
    "type": "number",
    "format": "double"
    }
    }
    },
    "MaxOccupancy": {
    "type": "object",
    "properties": {
    "totalMaxOccupancy": {
    "type": "integer",
    "format": "int32"
    },
    "maxChildOccupancy": {
    "type": "integer",
    "format": "int32"
    },
    "maxAdultOccupancy": {
    "type": "integer",
    "format": "int32"
    }
    }
    },
    "OtherHotelInfo": {
    "type": "object",
    "properties": {
    "numberOfFloors": {
    "type": "integer",
    "format": "int32"
    },
    "numberOfRooms": {
    "type": "integer",
    "format": "int32"
    }
    }
    },
    "PolicyInfo": {
    "type": "object",
    "properties": {
    "checkinTime": {
    "type": "string"
    },
    "checkoutTime": {
    "type": "string"
    },
    "guidelinesAndPolicies": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/Guidelines"
    }
    }
    }
    },
    "Property": {
    "type": "object",
    "properties": {
    "name": {
    "type": "string"
    },
    "code": {
    "type": "string"
    },
    "type": {
    "type": "string"
    }
    }
    },
    "RoomsContent": {
    "type": "object",
    "properties": {
    "rooms": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/Room"
    }
    }
    }
    },
    "State": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64"
    },
    "name": {
    "type": "string"
    }
    }
    },
    "CancelV4Response": {
    "type": "object",
    "properties": {
    "cancelStatus": {
    "type": "string"
    }
    }
    },
    "BookRequestV4": {
    "type": "object",
    "properties": {
    "affiliateTripReference": {
    "type": "string"
    },
    "provisionalBookId": {
    "type": "string"
    },
    "paymentDetails": {
    "$ref": "#/components/schemas/PaymentDetails"
    }
    }
    },
    "PaymentDetails": {
    "type": "object",
    "properties": {
    "depositAccountId": {
    "type": "string"
    }
    }
    },
    "BookResponseV4": {
    "type": "object",
    "properties": {
    "tripId": {
    "type": "string"
    },
    "confirmationNumber": {
    "type": "string"
    }
    }
    },
    "ContactDetail": {
    "type": "object",
    "properties": {
    "title": {
    "type": "string"
    },
    "firstName": {
    "type": "string"
    },
    "lastName": {
    "type": "string"
    },
    "email": {
    "type": "string"
    },
    "mobile": {
    "type": "string"
    },
    "landline": {
    "type": "string"
    }
    }
    },
    "GuestDetail": {
    "type": "object",
    "properties": {
    "adults": {
    "type": "integer",
    "format": "int32"
    },
    "childrenAge": {
    "type": "array",
    "items": {
    "type": "string"
    }
    }
    }
    },
    "HotelDetail": {
    "type": "object",
    "properties": {
    "hotelId": {
    "type": "string"
    },
    "name": {
    "type": "string"
    },
    "address": {
    "type": "string"
    },
    "city": {
    "type": "string"
    },
    "checkInDate": {
    "type": "string"
    },
    "checkOutDate": {
    "type": "string"
    }
    }
    },
    "PaymentDetail": {
    "type": "object",
    "properties": {
    "paymentType": {
    "type": "string"
    },
    "amount": {
    "type": "string"
    },
    "currency": {
    "type": "string"
    },
    "status": {
    "type": "string",
    "enum": [
    "SUCCESS",
    "FAILURE",
    "INITIALIZING"
    ]
    }
    }
    },
    "PricingDetail": {
    "type": "object",
    "properties": {
    "roomRate": {
    "type": "number",
    "format": "double"
    },
    "hotelTaxes": {
    "type": "number",
    "format": "double"
    },
    "discount": {
    "type": "number",
    "format": "double"
    },
    "cashback": {
    "type": "number",
    "format": "double"
    },
    "totalFare": {
    "type": "number",
    "format": "double"
    },
    "totalFee": {
    "type": "number",
    "format": "double"
    },
    "serviceTax": {
    "type": "number",
    "format": "double"
    },
    "currency": {
    "type": "string"
    }
    }
    },
    "RoomDetail": {
    "type": "object",
    "properties": {
    "roomTypeName": {
    "type": "string"
    },
    "roomName": {
    "type": "string"
    },
    "guests": {
    "$ref": "#/components/schemas/GuestDetail"
    }
    }
    },
    "TripV4Response": {
    "type": "object",
    "properties": {
    "tripId": {
    "type": "string"
    },
    "contactDetail": {
    "$ref": "#/components/schemas/ContactDetail"
    },
    "paymentDetail": {
    "$ref": "#/components/schemas/PaymentDetail"
    },
    "hotelDetail": {
    "$ref": "#/components/schemas/HotelDetail"
    },
    "pricing": {
    "$ref": "#/components/schemas/PricingDetail"
    },
    "bookingInfo": {
    "$ref": "#/components/schemas/BookingInfo"
    },
    "rooms": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/RoomDetail"
    }
    },
    "cancellationPolicy": {
    "$ref": "#/components/schemas/CancellationPolicy"
    },
    "panCardNumber": {
    "type": "string"
    }
    }
    },
    "RefundInfoV4Response": {
    "type": "object",
    "properties": {
    "refund": {
    "type": "string"
    }
    }
    },
    "BookingDetails": {
    "type": "object",
    "properties": {
    "hotelId": {
    "type": "string"
    },
    "occupancy": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/Occupancy"
    }
    },
    "checkInDate": {
    "type": "string"
    },
    "checkOutDate": {
    "type": "string"
    },
    "roomTypeCode": {
    "type": "string"
    },
    "bookingCode": {
    "type": "string"
    },
    "bookingAmount": {
    "type": "number",
    "format": "double"
    },
    "sellingCountry": {
    "type": "string"
    },
    "sellingCurrency": {
    "type": "string"
    }
    }
    },
    "Customer": {
    "type": "object",
    "properties": {
    "id": {
    "type": "string"
    },
    "title": {
    "type": "string"
    },
    "firstName": {
    "type": "string"
    },
    "middleName": {
    "type": "string"
    },
    "lastName": {
    "type": "string"
    }
    }
    },
    "CustomerDetails": {
    "type": "object",
    "properties": {
    "contactInfo": {
    "$ref": "#/components/schemas/ContactInfo"
    },
    "customerList": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/Customer"
    }
    },
    "panCardNumber": {
    "type": "string"
    }
    }
    },
    "ItineraryResponseV4": {
    "type": "object",
    "properties": {
    "itineraryId": {
    "type": "string"
    },
    "bookingDetails": {
    "$ref": "#/components/schemas/BookingDetails"
    },
    "customerDetails": {
    "$ref": "#/components/schemas/CustomerDetails"
    },
    "transactionDetails": {
    "$ref": "#/components/schemas/TransactionDetails"
    },
    "taxEntityInformation": {
    "$ref": "#/components/schemas/TaxEntityInformation"
    },
    "multiRateFlowInfo": {
    "$ref": "#/components/schemas/MultiRateFlowInfo"
    }
    }
    },
    "MultiRateFlowInfo": {
    "type": "object",
    "properties": {
    "corpId": {
    "type": "string"
    },
    "gstMarkup": {
    "type": "number",
    "format": "double"
    },
    "modelType": {
    "type": "string"
    },
    "rateType": {
    "type": "string",
    "enum": [
    "SPECIFIC_CORPORATE",
    "GENERIC_CORPORATE",
    "THIRD_PARTY",
    "UNRECOGNIZED"
    ]
    }
    }
    },
    "Occupancy": {
    "type": "object",
    "properties": {
    "numberOfAdults": {
    "type": "integer",
    "format": "int32"
    },
    "childAges": {
    "type": "array",
    "items": {
    "type": "integer",
    "format": "int32"
    }
    }
    }
    },
    "TransactionDetails": {
    "type": "object",
    "properties": {
    "tripRef": {
    "type": "string"
    },
    "bookStatus": {
    "type": "string"
    },
    "confirmationNumber": {
    "type": "string"
    }
    }
    },
    "CenterCoordinates": {
    "type": "object",
    "properties": {
    "centerLatitude": {
    "type": "number",
    "format": "double"
    },
    "centerLongitude": {
    "type": "number",
    "format": "double"
    }
    }
    },
    "LocationHierarchy": {
    "type": "object",
    "properties": {
    "id": {
    "type": "integer",
    "format": "int64"
    },
    "parent": {
    "$ref": "#/components/schemas/LocationHierarchy"
    }
    }
    },
    "LocationMetaData": {
    "type": "object",
    "properties": {
    "locationVersion": {
    "type": "string"
    }
    }
    },
    "LocationsData": {
    "type": "object",
    "properties": {
    "type": {
    "type": "string",
    "enum": [
    "COUNTRY",
    "STATE",
    "CITY",
    "LOCALITY",
    "REGION_1",
    "REGION_2",
    "DIVISION",
    "AREA",
    "ROAD"
    ]
    },
    "name": {
    "type": "string"
    },
    "coordinates": {
    "$ref": "#/components/schemas/CenterCoordinates"
    },
    "searchEnabled": {
    "type": "boolean"
    },
    "locationMetaData": {
    "$ref": "#/components/schemas/LocationMetaData"
    }
    }
    },
    "LocationsV4Response": {
    "type": "object",
    "properties": {
    "hasNextPage": {
    "type": "boolean"
    },
    "nextPageToken": {
    "type": "string"
    },
    "locationType": {
    "type": "string",
    "enum": [
    "COUNTRY",
    "STATE",
    "CITY",
    "LOCALITY",
    "REGION_1",
    "REGION_2",
    "DIVISION",
    "AREA",
    "ROAD"
    ]
    },
    "locationsHierarchy": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/LocationHierarchy"
    }
    },
    "locationIdToMetadataMap": {
    "type": "object",
    "additionalProperties": {
    "$ref": "#/components/schemas/LocationsData"
    }
    }
    }
    },
    "HotelListV4Data": {
    "type": "object",
    "properties": {
    "hotelId": {
    "type": "integer",
    "format": "int64"
    },
    "updatedAt": {
    "type": "integer",
    "format": "int64"
    },
    "hotelMetaData": {
    "$ref": "#/components/schemas/HotelMetaData"
    }
    }
    },
    "HotelListV4Response": {
    "type": "object",
    "properties": {
    "hasNextPage": {
    "type": "boolean"
    },
    "nextPageToken": {
    "type": "string"
    },
    "hotels": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/HotelListV4Data"
    }
    }
    }
    },
    "HotelMetaData": {
    "type": "object",
    "properties": {
    "locationVersion": {
    "type": "string",
    "enum": [
    "V1",
    "V2"
    ]
    }
    }
    },
    "IncrementalUpdateHotelListV4Response": {
    "type": "object",
    "properties": {
    "hasNextPage": {
    "type": "boolean"
    },
    "lastUpdatedAt": {
    "type": "integer",
    "format": "int64"
    },
    "nextPageToken": {
    "type": "string"
    },
    "hotels": {
    "type": "array",
    "items": {
    "$ref": "#/components/schemas/HotelListV4Data"
    }
    }
    }
    }
    }
    }
    }